{% extends 'meme/basic.html' %}
{% block title %}Memeit{% endblock title %}
{% block head %}
<style>
    /* body{
    margin: 0;
    padding: 0;
    /* display: flex; 
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    font-family: sans-serif;
  } */
  .container{
    display: flex;
    flex-wrap: wrap;
    gap:50px
  }
    .box {
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 15px;
        margin: 0 auto;
    }

    .card {
        /* position: relative; */
        width: 300px;
        height: 350px;
        background: #fff;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    }

    .card:before,
    .card:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #fff;
        transition: 0.5s;
        z-index: -1;
    }

    .card:hover:before {
        transform: rotate(20deg);
        box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    }

    .card:hover:after {
        transform: rotate(10deg);
        box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    }

    .card .imgBx {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background: #222;
        transition: 0.5s;
        z-index: 1;
    }

    .card:hover .imgBx {
        bottom: 80px;
    }

    .card .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card .details {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 60px;
        text-align: center;
    }

    .card .details h2 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 20px;
        color: #777;
        text-transform: uppercase;
    }

    .card .details h2 span {
        font-weight: 500;
        font-size: 16px;
        color: #f38695;
        display: block;
        margin-top: 5px;
    }
</style>
{% endblock head %}

{% block body %}
<h1 style="text-align: center;font-family:  Helvetica, sans-serif;">Categories</h1>
<div class="container">
    {%for i in meme_category%}
    <div class="card text-center">
        <div class="card-header">
            {{i.Category}}
        </div>
        <div class="card-body">
            {% if i.Category == "The Comics" %}
            <a href="">
            <img src="https://img.freepik.com/free-vector/comic-bright-strips-with-explosive-halftone-rays_225004-801.jpg?w=2000" style="height: 20vh;" alt=""></a>
            {% elif i.Category == "The Classics" %}
            <a href="">
            <img src="https://i.pinimg.com/550x/77/ee/6b/77ee6bf088bb12769ca1d4817ea1f015.jpg" style="height: 19vh;" alt=""></a>
            {% endif %}
        </div>

        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    {%endfor%}

</div>
{% endblock body %}